@import 'tailwindcss';

@theme {
  --color-mia-blue: #65b5d5;
  --color-mia-orange: #dc9247;
  --color-mia-green: #7dd55b;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

/* Text defaults */

html {
  font-family:
    'Helvetica Neue Light',
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    'Inter',
    Arial,
    'Noto Sans',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
  font-feature-settings: normal;
  font-variation-settings: normal;

  scroll-padding-top: 6rem;
}

body {
  color: #424242;
}

h1,
.h1 {
  margin-bottom: 2rem;
  font-weight: 350;
  font-size: 60px;
}

h2,
.h2 {
  @apply mb-4 text-3xl;
}

h3,
.h3 {
  @apply truncate text-lg leading-snug font-medium;
}

.link {
  @apply text-sky-700 underline hover:text-sky-900;
}

/* List defaults */
li {
  @apply list-none;
}

ul,
ol {
  @apply list-outside pb-2 pl-8;
}

ul {
  @apply list-disc;
}

ol {
  @apply list-decimal;
}

li > ul,
ol {
  @apply list-[circle];
}

/* Table defaults */

table {
  @apply w-full text-left shadow-md;
}

tr {
  @apply border-t even:bg-gray-50;
}

th {
  @apply p-3 font-bold;
}

td {
  @apply p-3;
}
