---
import { slugify } from '@/lib/util';

interface Props {
  type: 'h1' | 'h2' | 'h3' | 'h4' | 'h5' | 'h6';
  text: string;
}

const { type, text } = Astro.props;

const HtmlTag = type;

const anchor = slugify(text);
---

<HtmlTag id={anchor}>
  <a href={`#${anchor}`}>
    {text}
  </a>
</HtmlTag>
