---
import wbif from '@/assets/images/logos/wbif-black-logo.png';
import Logo from './Logo.astro';
import { Image } from 'astro:assets';
---

<footer
  class="mx-auto flex w-full max-w-4xl flex-col items-center justify-between gap-16 px-4 py-16 text-gray-700 sm:flex-row sm:items-start sm:py-32"
>
  <div class="space-y-6">
    <div class="flex justify-between">
      <Logo />

      <a href="https://www.bristol.ac.uk/wolfson-bioimaging/">
        <Image src={wbif} alt="Wolfson Bioimaging Facility" height={32} />
      </a>
    </div>

    <p class="max-w-sm font-thin">
      Developed in the
      <a class="font-normal hover:text-black" href="https://www.bristol.ac.uk/wolfson-bioimaging/">
        Wolfson Bioimaging Facility
      </a>
      at the University of Bristol.
    </p>
  </div>

  <div class="grid grid-cols-3 gap-8">
    <ul class="group list-none space-y-1 !pl-0">
      <li
        class="group-hover:decoration-mia-orange mb-5 font-thin uppercase underline decoration-transparent decoration-2 underline-offset-8 drop-shadow-xs transition-colors duration-500"
      >
        Explore
      </li>
      <li class="hover:text-black">
        <a href="https://github.com/mianalysis">GitHub</a>
      </li>
      <li class="hover:text-black">
        <a href="/publications">Publications</a>
      </li>
      <li class="hover:text-black">
        <a href="https://imagej.net/plugins/modularimageanalysis/index">ImageJ</a>
      </li>
    </ul>

    <ul class="group list-none space-y-1 !pl-0">
      <li
        class="group-hover:decoration-mia-blue mb-5 font-thin uppercase underline decoration-transparent decoration-2 underline-offset-8 drop-shadow-xs transition-colors duration-500"
      >
        Learn
      </li>
      <li class="hover:text-black">
        <a href="/about">About</a>
      </li>
      <li class="hover:text-black">
        <a href="/guides">Guides</a>
      </li>
      <li class="hover:text-black">
        <a href="https://www.youtube.com/@mianalysis">YouTube</a>
      </li>
      <li class="hover:text-black">
        <a href="https://github.com/mianalysis/mia-examples">Examples</a>
      </li>
    </ul>

    <ul class="group list-none space-y-1 !pl-0">
      <li
        class="group-hover:decoration-mia-green mb-5 font-thin uppercase underline decoration-transparent decoration-2 underline-offset-8 drop-shadow-xs transition-colors duration-500"
      >
        Follow
      </li>
      <li class="hover:text-black">
        <a href="https://twitter.com/_mianalysis/">Twitter</a>
      </li>
      <li class="hover:text-black">
        <a href="https://github.com/mianalysis/mia/releases">Releases</a>
      </li>
    </ul>
  </div>
</footer>
