---
import logo from '@/assets/images/logos/mia.png';
import { Image } from 'astro:assets';
---

<a href="/" class="drop-shadow- flex items-center gap-4">
  <Image src={logo} alt="Logo" width={32} height={32} />
  <p class="max-md:hidden">ModularImageAnalysis (MIA)</p>
  <p class="md:hidden">MIA</p>
</a>
