---
interface Props {
  href: string;
}

const { href } = Astro.props;

// Remove trailing slash
const currentPath = Astro.url.pathname.replace(/\/$/, '');

const active = currentPath.endsWith(href);
---

<li
  class="whitespace-nowrap underline decoration-2 underline-offset-4 transition-colors duration-500"
  class:list={active ? 'decoration-mia-blue' : 'hover:decoration-mia-orange decoration-transparent'}
>
  <a href={href}>
    <slot />
  </a>
</li>
