---
import AnchoredHeading from '@/components/layout/AnchoredHeading.astro';
import RootLayout from '@/layouts/RootLayout.astro';
---

<RootLayout>
  <div class="mx-auto max-w-4xl space-y-16">
    <section class="space-y-4">
      <h1>Get involved</h1>

      <p class="opacity-70 text-3xl">
        We welcome any contributions to the MIA project. If you&apos;d like to get involved, here
        are a few ways you could do so.
      </p>
    </section>

    <section class="space-y-4">
      <AnchoredHeading type="h2" text="Adding a new MIA module" />

      <p>
        We&apos;d love it if you&apos;d consider contributing a new module to MIA. Such a module
        could allow an existing ImageJ plugin to be used as part of MIA workflows or add totally new
        functionality. Modules can either be added to the main MIA plugin by submitting a pull
        request or packaged as standalone .jar files which will be automatically detected by MIA.
        Details of MIA&apos;s module format are provided in our{' '}
        <a
          class="link"
          href="https://github.com/mianalysis/mia-examples/tree/main/DevelopmentExamples/DevEx1_CustomModule"
        >
          mia-examples
        </a>{' '}
        repository, where you&apos;ll find an example module as well as a blank template module that
        can be used as a starting point for new modules.
      </p>

      <p>
        If you&apos;d like to include the latest version of MIA in your project, you can add the
        following dependency to your pom.xml file:
      </p>

      <pre>
      <code>
        {`
    <dependency>
        <groupId>io.github.mianalysis</groupId>
        <artifactId>mia</artifactId>
        <version>1.4.4</version>
    </dependency>
                `}
      </code>
    </pre>

      <p>
        The JavaDoc for MIA is available{' '}
        <a class="link" href="https://javadoc.io/doc/io.github.mianalysis/mia"> here </a>{' '}
        .
      </p>
    </section>

    <section class="space-y-4">
      <AnchoredHeading type="h2" text="Developing existing MIA modules" />

      <p>
        We&apos;re in the process of transitioning from using ImageJ&apos;s ImagePlus format to the{
          ' '
        }
        <a class="link" href="https://imagej.net/libs/imglib2/"> ImgLib2 </a>{' '}
        format. Amongst other benefits, this will allow MIA to make use ImgLib2&apos;s disk-cached image
        formats (loading images directly from storage). Any modules which could be rewritten to take
        advantage of ImgLib2 would help us reach this goal faster!
      </p>
    </section>

    <section class="space-y-4">
      <AnchoredHeading type="h2" text="Contributing new example workflows" />

      <p>
        If you&apos;ve got a workflow you&apos;d like to share, please consider uploading it to the{
          ' '
        }
        <a
          class="link"
          href="https://github.com/mianalysis/mia-examples/tree/main/DevelopmentExamples/DevEx1_CustomModule"
        >
          mia-examples
        </a>{' '}
        repository.
      </p>
    </section>

    <section class="space-y-4">
      <AnchoredHeading type="h2" text="Adding automated tests" />

      <p>
        Automated testing for MIA is currently incomplete. We&apos;d be very grateful for any tests
        that were added to the automated test suite.
      </p>
    </section>

    <section class="space-y-4">
      <AnchoredHeading type="h2" text="Providing feedback" />

      <p>
        Any feedback, feature suggestions or comments are very welcome. If you&apos;d like to tell
        us how you&apos;re getting on with MIA, please contact us via the{' '}
        <a class="link" href="https://github.com/mianalysis/mia/issues"> Issues </a>{' '}
        board or send an email to stephen.cross@bristol.ac.uk
      </p>
    </section>
  </div>
</RootLayout>
