---
import AnchoredHeading from '@/components/layout/AnchoredHeading.astro';
import RootLayout from '@/layouts/RootLayout.astro';
---

<RootLayout>
  <div class="mx-auto max-w-4xl space-y-16">
    <section>
      <h1>Publications</h1>

      <p class="text-3xl opacity-70">
        Some publications for which MIA was used. This non-exhaustive list is updated periodically.
      </p>
    </section>

    <section class="space-y-4">
      <AnchoredHeading type="h2" text="2025" />

      <p>
        Jerabkova-Roda, K., <em>et al.</em>, "Peripheral positioning of lysosomes supports melanoma aggressiveness", <em>Nature Communications</em> (2025) <strong>16</strong> 3375, doi: <a class="link" href="https://doi.org/10.1038/s41467-025-58528-5">
          10.1038/s41467-025-58528-5
        </a>
      </p>

      <p>
        Wong, Y.M., <em>et al.</em>, "Development of Structurally Graded Alumina–Polymer Composites as Potential Orthodontic Bracket Materials", <em>Biomimetics</em> (2025) <strong>10</strong> 227, doi: <a class="link" href="https://doi.org/10.3390/biomimetics10040227">
          10.3390/biomimetics10040227
        </a>
      </p>

      <p>
        Bürmann, F., <em>et al.</em>, "Mechanism of DNA capture by the MukBEF SMC complex and its
        inhibition by a viral DNA mimic", <em>Cell</em> (2025), doi: <a class="link" href="https://doi.org/10.1016/j.cell.2025.02.032">
          10.1016/j.cell.2025.02.032
        </a>
      </p>

      <p>
        Karling, T., <em>et al.</em>, "Immune cells adapt to confined environments in vivo to
        optimise nuclear plasticity for migration", <em>J EMBO Rep</em> (2025) <strong>26</strong> 1238-1268,
        doi:
        <a class="link" href="https://doi.org/10.1038/s44319-025-00381-0">
          10.1038/s44319-025-00381-0
        </a>
      </p>
    </section>

    <section class="space-y-4">
      <AnchoredHeading type="h2" text="2024" />

      <p>
        Seager, R., <em>et al.</em>, "SUMOylation of MFF coordinates fission complexes to promote
        stress-induced mitochondrial fragmentation", <em>Science Advances</em> (2024) <strong
          >10</strong
        >, doi:
        <a class="link" href="https://doi.org/10.1126/sciadv.adq6223"> 10.1126/sciadv.adq6223 </a>
      </p>

      <p>
        López-Cuevas, P., <em>et al.</em>, "Reprogramming macrophages with R848-loaded artificial
        protocells to modulate skin and skeletal wound healing", <em>J Cell Sci</em>
        (2024), doi:
        <a class="link" href="https://doi.org/10.1242/jcs.262202"> 10.1242/jcs.262202 </a>
      </p>

      <p>
        Harris, A.G., <em>et al.</em>, "Protocol to decellularize porcine right ventricular outflow
        tracts using a 3D printed flow chamber", <em>STAR Protocols</em>
        (2024) <strong>5</strong> 102899, doi:
        <a class="link" href="https://doi.org/10.1016/j.xpro.2024.102899">
          10.1016/j.xpro.2024.102899
        </a>
      </p>

      <p>
        Needs, H.I., <em>et al.</em>, "Rescue of mitochondrial import failure by intercellular
        organellar transfer", <em>Nature Communications</em> (2024) <strong>15</strong> 988, doi:
        <a class="link" href="https://doi.org/10.1038/s41467-024-45283-2">
          10.1038/s41467-024-45283-2
        </a>
      </p>

      <p>
        Young, F.J., <em>et al.</em>, "Enhanced long-term memory and increased mushroom body
        plasticity in Heliconius butterflies", <em>iScience</em> (2024) <strong>27</strong>
        108949, doi:
        <a class="link" href="https://doi.org/10.1016/j.isci.2024.108949">
          10.1016/j.isci.2024.108949
        </a>
      </p>
    </section>

    <section class="space-y-4">
      <AnchoredHeading type="h2" text="2023" />

      <p>
        Lu, J., <em>et al.</em>, "Five Inhibitory Receptors Display Distinct Vesicular Distributions
        in Murine T Cells", <em>Cells</em> (2023), doi:
        <a class="link" href="https://doi.org/10.3390/cells12212558"> 10.3390/cells12212558 </a>
      </p>

      <p>
        Anton, A., <em>et al.</em>, "Adult neurogenesis does not explain the extensive post-eclosion
        growth of Heliconius mushroom bodies", <em>R Soc Open Sci.</em> (2023), doi:
        <a class="link" href="https://doi.org/10.1098/rsos.230755"> 10.1098/rsos.230755 </a>
      </p>

      <p>
        Oates, T.C.L., <em>et al.</em>, "Defining the proteomic landscape of cultured macrophages
        and their polarization continuum", <em>Immunology & Cell Biology</em> (2023), doi:
        <a class="link" href="https://doi.org/10.1111/imcb.12687"> 10.1111/imcb.12687 </a>
      </p>

      <p>
        Hilditch, A.T., <em>et al.</em>, "Assembling membraneless organelles from de novo designed
        proteins", <em>Nature Chemistry</em> (2023) , doi:
        <a class="link" href="https://doi.org/10.1038/s41557-023-01321-y">
          10.1038/s41557-023-01321-y
        </a>
      </p>

      <p>
        Zhao, X., <em>et al.</em>, "Highly efficient platelet generation in lung vasculature
        reproduced by microfluidics", <em>Nature Communications</em> (2023) <strong>14</strong>
        4026, doi:
        <a class="link" href="https://doi.org/10.1038/s41467-023-39598-9">
          10.1038/s41467-023-39598-9
        </a>
      </p>

      <p>
        Needs, H.I., <em>et al.</em>, "Aggregation-prone Tau impairs mitochondrial import, which
        affects organelle morphology and neuronal complexity", <em>J Cell Sci</em> (2023)
        <strong>136</strong>, doi:
        <a class="link" href="https://doi.org/10.1242/jcs.260993"> 10.1242/jcs.260993 </a>
      </p>

      <p>
        Jiménez-Moreno, N. <em>et al.</em>, "ATG8-dependent LMX1B-autophagy crosstalk shapes human
        midbrain dopaminergic neuronal resilience", <em>J Cell Biol</em> (2023)
        <strong>222</strong> e201910133, doi:
        <a class="link" href="https://doi.org/10.1083/jcb.201910133"> 10.1083/jcb.201910133 </a>
      </p>

      <p>
        Olenik, M., <em>et al.</em>, "Fluctuations of cell geometry and their nonequilibrium
        thermodynamics in living epithelial tissue", <em>Phys. Rev. E</em> (2023)
        <strong>107</strong> 014403, doi:
        <a class="link" href="https://doi.org/10.1103/PhysRevE.107.014403">
          10.1103/PhysRevE.107.014403
        </a>
      </p>
      <p>
        Yadav, P., <em>et al.</em>, "Chromogranin B (CHGB) is dimorphic and responsible for dominant
        anion channels delivered to cell surface via regulated secretion",
        <em>Front. Mol. Neurosci.</em> (2023) <strong>16</strong>, doi:
        <a class="link" href="https://doi.org/10.3389/fnmol.2023.1205516">
          10.3389/fnmol.2023.1205516
        </a>
      </p>
    </section>

    <section class="space-y-4">
      <AnchoredHeading type="h2" text="2022" />

      <p>
        López-Cuevas, P., <em>et al.</em>, "Macrophage Reprogramming with Anti-miR223-Loaded
        Artificial Protocells Enhances In Vivo Cancer Therapeutic Potential",
        <em>Advanced Science</em> (2022), doi:
        <a class="link" href="https://doi.org/10.1002/advs.202202717"> 10.1002/advs.202202717 </a>
      </p>
      <p>
        Serrage, H.J., <em>et al.</em>, "Quantification of Extracellular DNA Network Abundance and
        Architecture within Streptococcus gordonii Biofilms Reveals Modulatory Factors",
        <em>Applied and Environmental Microbiology</em> (2022) e0069822, doi:
        <a class="link" href="https://doi.org/10.1128/aem.00698-22"> 10.1128/aem.00698-22 </a>
      </p>
      <p>
        Stan, G.F., <em>et al.</em>, "Ca2+ Regulates Dimerization of the BAR Domain Protein PICK1
        and Consequent Membrane Curvature", <em>Front Mol Neurosci</em> (2022)
        <strong>15</strong>, doi:
        <a class="link" href="https://doi.org/10.3389/fnmol.2022.893739">
          10.3389/fnmol.2022.893739
        </a>
      </p>
      <p>
        Bárez-López, S., <em>et al.</em>, "Transcriptional and Post-Transcriptional Regulation of
        Oxytocin and Vasopressin Gene Expression by CREB3L1 and CAPRIN2",
        <em>Neuroendocrinology</em> (2022), doi:
        <a class="link" href="https://doi.org/10.1159/000522088"> 10.1159/000522088 </a>
      </p>
      <p>
        Kozyrska, K., <em>et al.</em>, "p53 directs leader cell behavior, migration, and clearance
        during epithelial repair", <em>Science</em> (2022) <strong>375</strong>, doi:
        <a class="link" href="https://doi.org/10.1126/science.abl8876"> 10.1126/science.abl8876 </a>
      </p>
      <p>
        Edmunds, G.L., <em>et al.</em>, "Adenosine 2A receptor and TIM3 suppress cytolytic killing
        of tumor cells via cytoskeletal polarization", <em>Communications Biology</em>
        (2022) <strong>5</strong>, doi:
        <a class="link" href="https://doi.org/10.1038/s42003-021-02972-8">
          10.1038/s42003-021-02972-8
        </a>
      </p>
    </section>

    <section class="space-y-4">
      <AnchoredHeading type="h2" text="2021" />

      <p>
        Kague, E., <em>et al.</em>, "3D assessment of intervertebral disc degeneration in zebrafish
        identifies changes in bone density that prime disc disease",
        <em>Bone Research</em> (2021) <strong>9</strong>, doi:
        <a class="link" href="https://doi.org/10.1038/s41413-021-00156-y">
          10.1038/s41413-021-00156-y
        </a>
      </p>
      <p>
        López-Cuevas, P., <em>et al.</em>, "Modulating the Inflammatory Response to Wounds and
        Cancer Through Infection", <em>Front Cell Dev Biol</em> (2021) <strong>9</strong> 676193, doi:
        <a class="link" href="https://doi.org/10.3389/fcell.2021.676193">
          10.3389/fcell.2021.676193
        </a>
      </p>
      <p>
        McGowan, L.M., <em>et al.</em>, "Wnt16 Elicits a Protective Effect Against Fractures and
        Supports Bone Repair in Zebrafish", <em>JMBR Plus</em> (2021) <strong>5</strong> e10461, doi:
        <a class="link" href="https://doi.org/10.1002/jbm4.10461"> 10.1002/jbm4.10461 </a>
      </p>
      <p>
        Moss, J.J., <em>et al.</em>, "Autophagy coordinates chondrocyte development and early joint
        formation in zebrafish", <em>FASEB J</em> (2021) <strong>35</strong> e22002, doi:
        <a class="link" href="https://doi.org/10.1096/fj.202101167R"> 10.1096/fj.202101167R </a>
      </p>
      <p>
        Prager, J., <em>et al.</em>, "Delivery of chondroitinase by canine mucosal olfactory
        ensheathing cells alongside rehabilitation enhances recovery after spinal cord injury",
        <em>Experimental Neurology</em> (2021) <strong>340</strong> 113660, doi:
        <a class="link" href="https://doi.org/10.1016/j.expneurol.2021.113660">
          10.1016/j.expneurol.2021.113660
        </a>
      </p>
    </section>

    <section class="space-y-4">
      <AnchoredHeading type="h2" text="2020" />

      <p>
        Sundararaman, A., <em>et al.</em>, "RhoJ Regulates α5β1 Integrin Trafficking to Control
        Fibronectin Remodeling during Angiogenesis", <em>Current Biology</em> (2020)
        <strong>30</strong> 2146-2155.e5, doi:
        <a class="link" href="https://doi.org/10.1016/j.cub.2020.03.042">
          10.1016/j.cub.2020.03.042
        </a>
      </p>
      <p>
        Tan, S.L., <em>et al.</em>, "Super-resolution Imaging of the T cell Central Supramolecular
        Signaling Cluster Using Stimulated Emission Depletion Microscopy",
        <em>Bio Protoc</em> (2020) <strong>10</strong> e3806, doi:
        <a class="link" href="https://doi.org/10.21769/BioProtoc.3806"> 10.21769/BioProtoc.3806 </a>
      </p>
    </section>

    <section class="space-y-4">
      <AnchoredHeading type="h2" text="2019" />

      <p>
        Clark, D.J., <em>et al.</em>, "Transient protein accumulation at the center of the T cell
        antigen-presenting cell interface drives efficient IL-2 secretion", <em>eLife</em>
        (2019)
        <strong>8</strong> e45789, doi:
        <a class="link" href="https://doi.org/10.7554/eLife.45789"> 10.7554/eLife.45789 </a>
      </p>
      <p>
        Gurevich, D.B., <em>el al.</em>, "Live imaging the foreign body response in zebrafish
        reveals how dampening inflammation reduces fibrosis", <em>J Cell Sci</em> (2019)
        <strong>133</strong>, doi:
        <a class="link" href="https://doi.org/10.1242/jcs.236075"> 10.1242/jcs.236075 </a>
      </p>
      <p>
        Kague, E., <em>et al.</em>, "Scleraxis genes are required for normal musculoskeletal
        development and for rib growth and mineralization in zebrafish", <em>FASEB J</em> (2019)
        <strong>33</strong> 9116-9130, doi:
        <a class="link" href="https://doi.org/10.1096/fj.201802654RR"> 10.1096/fj.201802654RR </a>
      </p>
      <p>
        McCaughey, J., <em>et al.</em>, "ER-to-Golgi trafficking of procollagen in the absence of
        large carriers", <em>J Cell Biol</em> (2019) <strong>218</strong> 929-948, doi:
        <a class="link" href="https://doi.org/10.1083/jcb.201806035"> 10.1083/jcb.201806035 </a>
      </p>
    </section>

    <section class="space-y-4">
      <AnchoredHeading type="h2" text="2018" />

      <p>
        Roloff, E.v.L., <em>et al.</em>, "Differences in autonomic innervation to the
        vertebrobasilar arteries in spontaneously hypertensive and Wistar rats",
        <em>J Physiol</em> (2018) <strong>596</strong> 3505-3529, doi:
        <a class="link" href="https://doi.org/10.1113/JP275973"> 10.1113/JP275973 </a>
      </p>
    </section>
  </div>
</RootLayout>
