---
interface Props {
  url: string;
}

const { url } = Astro.props;
---

<div class="aspect-video">
  <video controls autoplay muted loop>
    <source src={url} type="video/mp4" />
    Your browser does not support this type of video.
    <br />
    This video can be downloaded from <a href={url}>here</a>
  </video>
</div>
