---
import TreeNav from '@/components/TreeNav';
import type { TreeNavNode } from '@/types';
import RootLayout from './RootLayout.astro';

// Remove trailing slash
const currentPath = Astro.url.pathname.replace(/\/$/, '');

const rootNode: TreeNavNode = {
  name: 'Guides',
  path: '/guides',
  children: [
    {
      name: 'Getting Started',
      path: '/guides/getting-started',
      children: [],
    },
    {
      name: 'Example Workflows',
      path: '/guides/example-workflows',
      children: [],
    },
    {
      name: 'Processing View',
      path: '/guides/processing-view',
      children: [],
    },
    {
      name: 'Using existing workflows',
      path: '/guides/using-existing-workflows',
      children: [],
    },
    {
      name: 'Editing view',
      path: '/guides/editing-view',
      children: [],
    },
    {
      name: 'Creating workflows',
      path: '/guides/creating-workflows',
      children: [],
    },
    {
      name: 'Results format',
      path: '/guides/results-format',
      children: [],
    },
    {
      name: 'Running headless',
      path: '/guides/running-headless',
      children: [],
    },
    {
      name: 'Troubleshooting',
      path: '/guides/troubleshooting',
      children: [],
    },
  ],
};
---

<RootLayout>
  <div class="flex w-full justify-center gap-16">
    {/* Tree nav for large screens */}
    <div class="sticky top-32 max-h-[80vh] w-80 self-start overflow-auto pr-4 max-xl:hidden">
      <a href="/guides">Guides</a>

      <TreeNav client:load node={rootNode} currentPath={currentPath} />
    </div>

    <div>
      <slot />
    </div>

    {/* Keep children center only on large screens */}
    <div class="w-80 max-2xl:hidden"></div>
  </div>
</RootLayout>
