---
import TreeNav from '@/components/TreeNav';
import modules from '@/assets/modules.json';
import { moduleCategoryToNode } from '@/lib/modules';
import RootLayout from '@/layouts/RootLayout.astro';

// Remove trailing slash
const currentPath = Astro.url.pathname.replace(/\/$/, '');

const rootNode = moduleCategoryToNode(modules);
---

<RootLayout>
  <div class="flex w-full justify-center gap-16">
    {/* Tree nav for large screens */}
    <div class="sticky top-32 max-h-[80vh] w-80 self-start overflow-auto pr-4 max-xl:hidden">
      <a href="/modules">Modules</a>

      <TreeNav client:load node={rootNode} currentPath={currentPath} />
    </div>

    <div>
      <slot />
    </div>

    {/* Keep children center only on large screens */}
    <div class="w-80 max-2xl:hidden"></div>
  </div>
</RootLayout>
